---
import MainLayout from '@/layouts/main-layout.astro';
import ProjectSet from '@/components/project-set.astro';
import ActivityLog from '@/components/activity-log.astro';
---

<MainLayout
  title="Logit - My Low Level + Math Journey"
  description="Documenting my Low Level + Math Journey. Sharing my learning process, resources, and creating open-source projects."
  image='/images/logit-og.png'
  backTitle="Index"
  backUrl="/"
>
  <div class="[grid-column:2]">
    <section class="hero mb-12">
      <h1 class="text-lg font-semibold mb-4">Welcome to Logit</h1>
      <p>
        Documenting my Low Level + Math Journey. <br /> 
        Sharing my learning process, resources, and creating open-source projects.
      </p>
    </section>
    <div class="grid gap-12 md:grid-cols-2">
      <ProjectSet />
      <ActivityLog />
    </div>
  </div>
</MainLayout>
