---
import BaseLayout from "@/layouts/base-layout.astro";
import JourneyTimeline from '../components/JourneyTimeline.astro';
import ProjectShowcase from '../components/ProjectShowcase.astro';
---

<BaseLayout
  title="Logit" 
  description="My Low Level + Math Journey"
  author="Railly Hugo"
  backTitle="Index"
  to="/"
>
  <section class="hero">
    <div class="background-image"></div>
    <div class="content">
      <h1 class="text-lg">Welcome to Logit</h1>
      <p>
        Documenting my Low Level + Math Journey. <br /> Sharing my learning process,
        resources, and creating open-source projects.
      </p>
    </div>
  </section>
  <section class="grid grid-cols-1 gap-5 md:grid-cols-2 mt-8">
    <ProjectShowcase />
    <JourneyTimeline />
  </section
</BaseLayout>
