---

---

<section class="mt-8">
  <h2 class="text-base !font-medium text-muted-foreground mt-0">Present</h2>
  <p>
    I work as a full-stack engineer at
    <a href="https://www.globant.com/" target="_blank">Globant</a>, contributing
    to Disney O&I Engineering Team. <br /> I like to build developer tools for myself
    and make them open source for the community.
  </p>
</section>
