---

---

<div>
  <h2 class="text-base text-muted-foreground m-0 mb-4 !font-medium">Explore</h2>
  <div class="flex flex-col gap-4">
    <div>
      <a
        href="/writing"
        class="text-base underline text-foreground underline-offset-2 decoration-muted-foreground/70 hover:decoration-foreground transition-colors font-medium m-0"
        >Writing</a
      >
      <p class="mt-2 text-accent-foreground">
        Thoughts on technology, design, and life
      </p>
    </div>
    <div>
      <a
        href="/marketplace"
        class="text-base underline text-foreground underline-offset-2 decoration-muted-foreground/70 hover:decoration-foreground transition-colors font-medium m-0"
        >Marketplace</a
      >
      <p class="mt-2 text-accent-foreground">
        Discover and support my projects
      </p>
    </div>
    <div>
      <p class="text-base font-medium m-0">Social Media</p>
      <div class="flex gap-2 mt-2">
        <a
          href="https://x.com/raillyhugo"
          target="_blank"
          class="text-foreground font-bold">ğ•</a
        >,
        <a
          href="https://linkedin.com/in/railly-hugo"
          target="_blank"
          class="text-foreground">LinkedIn</a
        >,
        <a
          href="https://github.com/Railly"
          target="_blank"
          class="text-foreground">GitHub</a
        >
      </div>
    </div>
  </div>
</div>
