---
const { title, to } = Astro.props;
---

<a
  href={to}
  class="mb-6 md:sticky md:top-16 md:mb-0 cursor-pointer flex w-max py-2 md:p-0 items-center gap-2 text-sm font-medium text-muted-foreground hover:text-foreground transition-colors duration-200"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="20"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="flex-shrink-0"
  >
    <path d="M6 8L2 12L6 16"></path>
    <path d="M2 12H22"></path>
  </svg>
  {title}
</a>
