---
const { headings } = Astro.props;

const tocItems: {
  slug: string;
  text: string;
  level: number;
}[] = headings.map((heading: { slug: string; text: string; depth: number }) => {
  const slug = heading.slug;
  const text = heading.text;
  const level = heading.depth;
  return { slug, text, level };
});

const getPaddingClass = (level: number): string => {
  switch (level) {
    case 1:
      return "pl-2";
    case 2:
      return "pl-4";
    case 3:
      return "ml-4 pl-4 border-l-2 border-dotted border-muted-foreground/30";
    case 4:
      return "ml-6 pl-4 border-l-2 border-dotted border-muted-foreground/30";
    case 5:
      return "ml-8 pl-4 border-l-2 border-dotted border-muted-foreground/30";
    default:
      return "pl-2";
  }
};
---

<div
  class="hidden md:flex max-w-xs w-full px-4 flex-col gap-2 fixed right-0 top-24"
>
  <h2 class="text-xs ml-4 text-muted-foreground/70 font-medium mb-2 uppercase">
    On this page
  </h2>
  <ul
    class="prose prose-a:no-underline hover:prose-a:underline hover:prose-a:text-foreground"
  >
    {
      tocItems.map((item) => {
        if (item.level > 2) return null;
        return (
          <li class={getPaddingClass(item.level)}>
            <a
              href={`#${item.slug}`}
              class="text-sm text-muted-foreground font-normal hover:text-accent-foreground transition-colors"
            >
              {item.text}
            </a>
          </li>
        );
      })
    }
  </ul>
</div>
